html{
    scroll-behavior: smooth;
}

body{
    /* background-color: #111129; */
    background-color: #111129;

}

body, ul{
    margin: 0;
    padding: 0;

}

.fundo{ 
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0%;
}

.fundoMobile{display: none;}

.fundoBlur{
    position: absolute;
    transform: translate(-30%, -50%);
    height: 80vh;
    width: 80vh;
    z-index: -2;
    filter: blur(50px);
    background-color: rgba(255, 0, 234, 0.2);
    border-radius: 100%;
}

.menu a{
    font-family: 'Noto Sans Mono', monospace;
    text-decoration: none;
    color: white;
}

.logoHeader{
    height: 40px;
}

header{
    margin-top: 20px;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

.menu a{
    display: block;
    justify-content: center;
    padding: 2.5rem;
    font-weight: 400;
}

.menu a:hover{
    transition: 0.5s;
    color: #00e0b8;
}

.botaoHeader{
    font-family: 'Noto Sans Mono', monospace;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    cursor: pointer;
}

.botaoHeader a{
    background-color: #00e0b8;
    border-radius: 30px;
    padding: 7px 20px;
    margin: 0;
    color: white;
    text-decoration: none;
}

.botaoHeader a:hover{
    background-color: #27977d;
    transition: 0.5s;
}


#btn-mobile{
    display: none;
}

main{
    margin: 0;
    padding: 0;
}

.home{
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    display: block;
    margin-left: 10em;
    margin-top: 10em;
}

.mainTitle{
    width: 30px;
    height: 250px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 0px;
}
.mainTitle h1{
    margin: 0px;
}

.mainTitle::after{
    content: '|';
    font-weight: 600;
    margin-left: 5px;
    opacity: 0;
    color: #00e0b8;
    animation: pisca .7s infinite;
}

.graphs{
    height: 20vh;
    width: 100%;
}

.services{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.card{
    margin: 0px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 400px;
    width: 300px;
    /* border: 1px solid green; */
    border-radius: 30px;
    text-align: center;
    color: white ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1{
    font-family: 'Noto Sans Mono', monospace;
    margin: 0;
    position: absolute;
    top: 35%;
    font-size: 15px;
}

.card p{
    position: absolute;
    top: 50%;
    overflow: hidden;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
    width: 250px;
    margin: 0;
    font-size: 15px;
}

.card img{
    position: absolute;
    margin: 0;
    height: 180px;
    transform: translate(0, -30%);
    transition: 0.5s;

}

.card img:hover{
    margin-top: -20px;
}

.imgShadow{
    height: 400px;
    width: 300px;
    overflow: hidden;
    border-radius: 30px;
    /* height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #76ecfc;
    /* position: absolute;
    left: 50%;
    right: 50%;
    top: 10%; */
    /* margin-left: 50%;
    transform: translate(-50%, 0); */
}

.imgBlur {
    /* filter: blur(50px);
    height: 150px;
    width: 150px;
    margin-left: 50%; */
    filter: blur(20px);
    -webkit-filter: blur(20px);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: #76ecfc5e;
    margin: auto;
    transform: translate(0, -35%);
    z-index: 11;
}


@keyframes pisca {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.subtitle{
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    letter-spacing: 20px;
    margin-bottom: 40px;
}

.home a{
    box-shadow: 0 0 0 2px #00e0b8;
    border-radius: 30px;
    padding: 10px 20px;
    color: #00e0b8;
    text-decoration: none;
    font-weight: 400;
}

.home a:hover{
    transition: 0.5s;
    box-shadow: 0 0 0 4px #00e0b8;
}

@media (max-width:600px){

    .fundo{
        display: none;
    }

    .fundoMobile{
        display: none;
        z-index: -2;
        position: absolute;
        height: 100%;
        margin-top: 80px;
        overflow: hidden;
    }

    .fundoBlur{
        display: none;
        margin-top: 500px;
        margin-left: 50%;
        height: 50%;
    }

    header{
        margin-top: 20px;
        justify-content: space-between;
    }

    .botaoHeader{
        display: none;
    }

    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 75px;
        right: 0px;
        background-color:rgba(17, 17, 41);
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        transition: .6s;
        z-index: 3000;
        font-size: 30px;
   
    }

    #nav.active .menu{
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a{
        padding: 1rem 0;
        margin: 20px 20px;
        font-weight: 500;
    }

    #btn-mobile{
        color: white;
        display: flex;
        padding: .5rem 1 rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #x{
        border-top: 2px solid ;
        width: 20px;
    }
    #x::after, #x::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #x{
        border-top-color: transparent;
    
    }

    #nav.active #x::before{
        transform: rotate(135deg);
    }

    #nav.active #x::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .home{
        display: block;
        height: 100%;
        margin: 0;
        text-align: center;
    }

    .mainTitle{
        font-size: 50px;
        text-align: center;
    }

    .home a:active{
        outline: 0;
        transition: 0.5s;
        box-shadow: 0 0 0 4px #00e0b8;
    }

    .graphs{
        height: 100vh;
    }

    .services{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        height: auto;
    }
    
    .card{
        margin: 100px 0;
        height: 500px;
        width: 300px;
    }
}
/* 
#000000
#EFAF5D
#A7D0D9
#3AC7A3 claro
#FFFFFF 
#41c7a8 escuro
#8ccbd1
rgb(247, 247, 247)
#2c2c2c
*/